{% load staticfiles %}
 <!DOCTYPE html>
 <html ng-app="agenvidaApp">
 <head>
     <meta charset="utf-8">
     <title>Agenvida</title>
     <meta name="viewport" content="width=device-width, initial-scale=1">
    
 
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>

     <link rel="stylesheet" type="text/css" href="{% static 'css/agenvida.css' %}">


     <link rel="stylesheet" type="text/css" href="{% static 'css/semantic/dist/semantic.min.css' %}">
     <script type="text/javascript" src="{% static 'jquery-1.11.3.min.js' %}"></script>
    <script src="{% static 'css/semantic/dist/semantic.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'app.js' %}"></script>
     
     
     <script type="text/javascript" src="{% static 'frontend.MainController.js' %}"></script>
     <script type="text/javascript" src="{% static 'frontend.ResetPassController.js' %}"></script>
     <script type="text/javascript" src="{% static 'frontend.filters.js' %}"></script>

    
 
 </head>


 <body >
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '524418254291199',
      xfbml      : true,
      version    : 'v2.4'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>




    {% block content %}{% endblock content %}

 
  




 
  
<script type="text/javascript">

$( document ).ready(function() {
  // Handler for .ready() called.

  $('.ui.accordion')
  .accordion(
{
    exclusive: false
  }
    )
;


$('.shape').shape();
});




$('.ui.dropdown')
  .dropdown()
;




</script>


    {% block extra_javascript %}{% endblock extra_javascript %}
 </body>
 </html>
 