{% extends "base.html" %}

{% block content %}
<div class="ui centered grid"  ng-controller="ResetPassCtrl">
  <div class="eight wide computer fourteen wide mobile tablet column centered ">

  			<h1>Restaurar Contraseña de Agenvida App</h1>

  			<div class="ui message" ng-show="mensajeShow">
  <div class="header">
    
  </div>
  <p>    {$ mensaje $}  </p>
</div>
			<form class="ui form">
			  <div class="field">
			    <label></label>
			    <input type="text" name="first-name" placeholder="Contrasena" ng-model="pass.uno">
			  </div>
			  <div class="field">
			    <label></label>
			    <input type="text" name="last-name" placeholder="Repita la contraseña" ng-model="pass.dos">
			  </div>

			  <button class="ui button" ng-click="reset()">Cambiar Contraseña</button>
			</form>
</div>
</div>
{% endblock content %}


