

.ui.accordion .content {
    background-color: #FBFBFB;
}



 .ui.accordion .content button {

border: solid 1px #ddd;
   /* background-color: transparent;*/

 	}   



 .ui.accordion .content	li.marcacion{
    margin: 20px 0px;
}


h2.titulo {
    padding-top: 10px;
}

ul.propositos {
    list-style-type: none;
}

.inputProposito {
	    margin-top: 10px;
    margin-bottom: 10px;
}

.addProposito {
	  margin-top: 10px !important;
    margin-bottom: 10px  !important;;
}